services:
  scheduler:
    container_name: rzd-scheduler
    build:
      context: .
      dockerfile: 'RZD.Scheduler/Dockerfile'
    depends_on:
      - db
    env_file:
      - .env
    restart: always  

  api:
    container_name: rzd-api
    ports:
      - "8080:8080"
    build:
      context: .
      dockerfile: 'RZD.Api/Dockerfile'
    depends_on:
      - db
    env_file:
      - .env
    restart: always  

  front:
    container_name: rzd-front
    build:
      context: .
      dockerfile: 'rzd.front/Dockerfile'
    depends_on:
      - api
    env_file:
      - .env
    ports:
      - "80:80"
    restart: always  

  db:
    image: postgres:17.4
    container_name: rzd-db
    env_file:
      - .env
    ports:
      - "6543:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always  

volumes:
  pgdata:
    driver: local
